*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  a{
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
  // body{
  //   background-color: #F2F2F2;
  // }