
.footer {  
    background-color: $Primary-Dark;
    display: flex;
    justify-content: center;
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1110px;
        background: $Primary-Dark;
        color:$Secondary-White;
        padding: 75px 0 52px 0;
        .footer-info-text{
            opacity: 0.5;
        }
        .copyright{
            opacity: 0.5;
        }

        .nav-bar-footer {
            display: flex;
            
            justify-content: flex-end;
            
            .footer-menu-list{
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: flex-end;
                align-content: space-between;  
                gap: 30px;     
                .footer-links {
                    text-decoration: none;
                    color:$Secondary-White;
                    &:hover {
                        color: $Primary-Orange;
                      }
                }
            }
        }
        // .footer-info-text{

        // }
        .nav-social-footer{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            .social-logo{
                cursor: pointer;
                padding: 10px;                
                svg {
                    
                    &:hover path {
                        fill: $Primary-Orange;    
                      }
                }
                
            }
          }        
      }
  
  } 
  
  
  
  
  

  
  

 
  
 
  