
.footer {  
    background-color: $Primary-Dark;
    display: flex;
    justify-content: center;
    .footer-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: $Primary-Dark;
        color:$Secondary-White;
        padding: 75px 0 52px 0;
        @media  (min-width: 384px){
            width: 689px;   
            text-align: left;           
          }
          @media  (min-width: 784px){
            width: 1100px;
            }
             .nav-bar-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            @media  (min-width: 384px){
                justify-content: flex-start; 
                align-items: flex-start;
                padding-left: 20px;
                }
            @media  (min-width: 784px){
                flex-direction: row;
                justify-content:space-between;
                align-items: center;
                text-align: none;
                padding-left: 20px;
              }
            
            .footer-menu-list{
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;                
                gap: 10px;     
                margin: 20px 0;
                padding-left: 0;
                @media  (min-width: 384px){
                    flex-direction: row;  }
                @media  (min-width: 784px){
                    flex-direction: row;
                 }
                .footer-links {
                    text-decoration: none;
                    color:$Secondary-White;
                    &:hover {
                        color: $Primary-Orange;
                      }
                }
            }
                }

            .footer-content{
                @media  (min-width: 384px){
                    display: grid;
                    grid-template-areas:
                        "text text"
                        "copy social"; 
                    text-align: left;           
                  }
                  @media  (min-width: 784px){
                    
                    display: grid;
                    grid-template-areas:
                        "text social"
                        "copy ."; 
                        grid-template-columns: 1fr 1fr;
                    text-align: left;  
                    }

                .footer-info-text{
                    padding: 20px;
                    opacity: 0.5;
                    grid-area: text;
                    
                }
                .copyright{
                    opacity: 0.5;
                    padding: 20px;
                    grid-area: copy;
                    
                }
                .nav-social-footer{
                    grid-area: social;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .social-logo{
                        cursor: pointer;
                        padding: 10px;                
                        svg {                            
                            &:hover path {
                                fill: $Primary-Orange;    
                              }
                        }
                        
                    }
                }   
            }
                    
      }
      .footer-container::before {
        content: "";
        position: absolute;
        height: 4px;
        width: 143px;
        background: $Primary-Orange;
        top: 0px;
        left: 0;
        margin-left: 24px;
        // -webkit-transform: translateX(-50%);
        // -moz-transform: translateX(-50%);
        // -ms-transform: translateX(-50%);
        // transform: translateX(-50%);
    }
  } 
  
  
  
  
  

  
  

 
  
 
  