@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

.header-container {
  background-color: #191919;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
}
.header-container .header-content {
  width: 100%;
  border-bottom: #979797 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
}
@media (min-width: 384px) {
  .header-container .header-content {
    width: 689px;
  }
}
@media (min-width: 784px) {
  .header-container .header-content {
    width: 1100px;
  }
  .header-container .header-content .burger {
    display: none;
  }
}
.header-container .header-content .logo {
  width: 143px;
  height: 25px;
  cursor: pointer;
}
.header-container .header-content .nav-bar {
  display: none;
}
@media (min-width: 784px) {
  .header-container .header-content .nav-bar {
    display: block;
  }
  .header-container .header-content .nav-bar .header-menu-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
  }
  .header-container .header-content .nav-bar .header-menu-list .header-links {
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header-container .header-content .nav-bar .header-menu-list .header-links:hover {
    color: #D87D4A;
  }
}
.header-container .header-content .cart-logo {
  width: 23px;
  height: 20px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.header-container .header-content .cart-logo .cart-item-number {
  position: absolute;
  bottom: 60%;
  left: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D87D4A;
  color: #101010;
}

.footer {
  background-color: #101010;
  display: flex;
  justify-content: center;
}
.footer .footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #101010;
  color: #FFFFFF;
  padding: 75px 0 52px 0;
}
@media (min-width: 384px) {
  .footer .footer-container {
    width: 689px;
    text-align: left;
  }
}
@media (min-width: 784px) {
  .footer .footer-container {
    width: 1100px;
  }
}
.footer .footer-container .nav-bar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 384px) {
  .footer .footer-container .nav-bar-footer {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
  }
}
@media (min-width: 784px) {
  .footer .footer-container .nav-bar-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: none;
    padding-left: 20px;
  }
}
.footer .footer-container .nav-bar-footer .footer-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 10px;
  margin: 20px 0;
  padding-left: 0;
}
@media (min-width: 384px) {
  .footer .footer-container .nav-bar-footer .footer-menu-list {
    flex-direction: row;
  }
}
@media (min-width: 784px) {
  .footer .footer-container .nav-bar-footer .footer-menu-list {
    flex-direction: row;
  }
}
.footer .footer-container .nav-bar-footer .footer-menu-list .footer-links {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-container .nav-bar-footer .footer-menu-list .footer-links:hover {
  color: #D87D4A;
}
@media (min-width: 384px) {
  .footer .footer-container .footer-content {
    display: grid;
    grid-template-areas: "text text" "copy social";
    text-align: left;
  }
}
@media (min-width: 784px) {
  .footer .footer-container .footer-content {
    display: grid;
    grid-template-areas: "text social" "copy .";
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}
.footer .footer-container .footer-content .footer-info-text {
  padding: 20px;
  opacity: 0.5;
  grid-area: text;
}
.footer .footer-container .footer-content .copyright {
  opacity: 0.5;
  padding: 20px;
  grid-area: copy;
}
.footer .footer-container .footer-content .nav-social-footer {
  grid-area: social;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-content .nav-social-footer .social-logo {
  cursor: pointer;
  padding: 10px;
}
.footer .footer-container .footer-content .nav-social-footer .social-logo svg:hover path {
  fill: #D87D4A;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #D87D4A;
  opacity: 0.5;
}

.sub-title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }
}
.hero-container {
  display: flex;
  justify-content: center;
  background-color: #191919;
}
.hero-container .hero-block {
  height: 509px;
  background: url("/images/assets/home/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 384px) {
  .hero-container .hero-block {
    height: 647px;
    background: url("/images/assets/home/tablet/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: 784px) {
  .hero-container .hero-block {
    height: 630px;
    width: 1110px;
    background: url("/images/assets/home/desktop/image-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.hero-container .hero-block .hero-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}
@media (min-width: 784px) {
  .hero-container .hero-block .hero-container-content {
    text-align: start;
    align-items: flex-start;
    padding: 150px 0 0 15px;
  }
}
.hero-container .hero-block .hero-container-content .hero-subtitle {
  color: #FFFFFF;
  opacity: 0.5;
}
.hero-container .hero-block .hero-container-content .hero-title {
  margin: 25px 0;
}
.hero-container .hero-block .hero-container-content .hero-text {
  padding-bottom: 25px;
  color: #FFFFFF;
  opacity: 0.5;
}

.shop-section {
  display: flex;
  justify-content: center;
}
.shop-section .shop-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 150px 0;
  gap: 100px 30px;
}
.shop-section .shop-container .shop-item {
  position: relative;
  background-color: #F1F1F1;
  width: 327px;
  height: 217px;
  border-radius: 8px;
  padding: 90px 0px 20px 0px;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 384px) {
  .shop-section .shop-container .shop-item {
    width: 223px;
    height: 180px;
  }
}
@media (min-width: 784px) {
  .shop-section .shop-container .shop-item {
    width: 350px;
    height: 200px;
  }
}
.shop-section .shop-container .shop-item .shop-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -38%);
}
.shop-section .shop-container .shop-item .shop-image img {
  width: 100%;
  height: 100%;
}
.shop-section .shop-container .shop-item .shop-text .shop-section-title {
  margin: 10px;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text {
  position: relative;
  text-decoration: none;
  color: grey;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text::after {
  position: absolute;
  content: url(/images/assets/shared/desktop/icon-arrow-right.svg);
  padding: 10px;
  color: #101010;
  top: -54%;
  right: -20px;
  transition: right 0.3s ease-in 0s;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text:hover {
  color: #FBAF85;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text:hover::after {
  right: -25px;
}

.speaker-banner-container {
  display: flex;
  justify-content: center;
}
.speaker-banner-container .speaker-banner {
  width: 327px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background: url(/images/assets/home/desktop/pattern-circles.svg), #D87D4A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin: 0 24px;
  overflow: hidden;
}
@media (min-width: 384px) {
  .speaker-banner-container .speaker-banner {
    justify-content: center;
    width: 730px;
    height: 720px;
  }
}
@media (min-width: 784px) {
  .speaker-banner-container .speaker-banner {
    height: 550px;
    width: 1110px;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
  }
}
.speaker-banner-container .speaker-banner .speaker {
  flex: 1;
  align-self: center;
  position: relative;
  padding-top: 50px;
  height: 100%;
}
.speaker-banner-container .speaker-banner .speaker .xz9-photos img {
  height: 207px;
  width: 172px;
  align-self: center;
}
@media (min-width: 384px) {
  .speaker-banner-container .speaker-banner .speaker .xz9-photos img {
    height: 237px;
    width: 198px;
  }
}
@media (min-width: 784px) {
  .speaker-banner-container .speaker-banner .speaker .xz9-photos img {
    height: 490px;
    width: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%, -38%);
    overflow: hidden;
  }
}
.speaker-banner-container .speaker-banner .speaker-banner-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.speaker-banner-container .speaker-banner .speaker-banner-text .speaker-banner-title {
  padding: 15px 0;
}
.speaker-banner-container .speaker-banner .speaker-banner-text .speaker-banner-description {
  color: #FFFFFF;
  padding: 15px;
}
.speaker-banner-container .speaker-banner .speaker-banner-text .zx9-button {
  align-self: center;
  margin-bottom: 25px;
}

.speaker-banner-zx7-container {
  display: flex;
  justify-content: center;
}
.speaker-banner-zx7-container .speaker-banner-zx7 {
  width: 327px;
  background: url(/images/assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 24px;
  height: 320px;
  border-radius: 8px;
}
@media (min-width: 384px) {
  .speaker-banner-zx7-container .speaker-banner-zx7 {
    background: url(/images/assets/home/tablet/image-speaker-zx7.jpg);
    width: 689px;
    height: 320px;
  }
}
@media (min-width: 784px) {
  .speaker-banner-zx7-container .speaker-banner-zx7 {
    background: url(/images/assets/home/desktop/image-speaker-zx7.jpg);
    width: 1100px;
    height: 320px;
    margin: 100px 24px;
  }
}
.speaker-banner-zx7-container .speaker-banner-zx7 .speaker-xz7-banner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.yx1-earphone-banner-container {
  display: flex;
  justify-content: center;
}
.yx1-earphone-banner-container .yx1-earphone-banner {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: 60px 24px;
  height: 424px;
  border-radius: 8px;
  gap: 30px;
}
@media (min-width: 384px) {
  .yx1-earphone-banner-container .yx1-earphone-banner {
    width: 689px;
    height: 320px;
    flex-direction: row;
  }
}
@media (min-width: 784px) {
  .yx1-earphone-banner-container .yx1-earphone-banner {
    width: 1100px;
    height: 320px;
    flex-direction: row;
  }
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-img {
  flex: 1;
  border-radius: 8px;
  display: block;
  overflow: hidden;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-img img {
  width: 100%;
  height: 100%;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container {
  flex: 1;
  background: #F1F1F1;
  border-radius: 8px;
  text-align: center;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container .yx1-earphone-text {
  flex: 1;
  align-self: center;
  padding-top: 50px;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container .yx1-earphone-text h4 {
  margin-bottom: 20px;
}

.epiloge-container {
  display: flex;
  justify-content: center;
  margin: 50px 24px;
}
.epiloge-container .epiloge {
  width: 327px;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  text-align: center;
  height: 698px;
  gap: 15px;
}
@media (min-width: 384px) {
  .epiloge-container .epiloge {
    width: 689px;
    height: 633px;
  }
}
@media (min-width: 784px) {
  .epiloge-container .epiloge {
    width: 1100px;
    height: 588px;
    flex-direction: row;
  }
}
.epiloge-container .epiloge .epiloge-content {
  flex: 1;
  padding-top: 60px;
}
.epiloge-container .epiloge .epiloge-content .epiloge-title {
  padding-bottom: 30px;
}
.epiloge-container .epiloge .epiloge-content .epiloge-title span {
  color: #D87D4A;
}
.epiloge-container .epiloge .epiloge-img {
  flex: 1;
}
.epiloge-container .epiloge .epiloge-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.orange-button {
  height: 48px;
  width: 160px;
  background-color: #D87D4A;
  color: #FAFAFA;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
}
.orange-button:hover {
  background-color: #FBAF85;
}

.black-button {
  height: 48px;
  width: 160px;
  background-color: #101010;
  color: #FAFAFA;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.black-button:hover {
  opacity: 0.7;
}

.invisible-button {
  position: relative;
  height: 48px;
  width: 160px;
  background-color: inherit;
  border: 1px solid #000000;
  color: #000000;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.invisible-button span {
  position: relative;
  z-index: 2;
}
.invisible-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #101010;
  transition: all 0.35s;
}
.invisible-button:hover {
  color: #FAFAFA;
}
.invisible-button:hover:after {
  height: 100%;
}

.modal-cart {
  position: absolute;
  padding: 30px;
  right: 0;
  top: 130%;
  background-color: #FFFFFF;
  width: 327px;
  border-radius: 8px;
  z-index: 20;
  color: #101010;
}
@media (min-width: 384px) {
  .modal-cart {
    width: 377px;
  }
}
.modal-cart_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.modal-cart_remove-btn {
  font-size: 15px;
  line-height: 25px;
  text-decoration-line: underline;
  color: #101010;
  opacity: 0.5;
  background: inherit;
  border: none;
}
.modal-cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-cart_item img {
  width: 64px;
  height: 64px;
}
.modal-cart_input-group {
  align-self: center;
  clear: both;
  margin: 15px 0;
  position: relative;
  width: 100%;
}
.modal-cart_summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.modal-cart_checkout-btn {
  align-self: center;
  display: block;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 48px;
  padding-top: 12px;
}

.hidden {
  display: none;
}

input,
textarea {
  border: 1px solid #F1F1F1;
  background-color: #F1F1F1;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal_input-group input[type=button] {
  background-color: #F1F1F1;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.modal_input-group .button-minus,
.modal_input-group .button-plus {
  font-weight: bold;
  height: 32px;
  padding: 0;
  width: 38px;
  position: relative;
}

.modal_input-group .quantity-field {
  position: relative;
  height: 32px;
  left: -6px;
  text-align: center;
  width: 40px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.burger .menuToggle {
  position: relative;
}
.burger .menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
.burger .menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.burger .menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.burger .menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.burger .menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FFFFFF;
}
.burger .menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.burger .menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-items {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 8%;
  transform: translatey(-150%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: #FFFFFF;
  color: #101010;
  flex-wrap: wrap;
  z-index: 20;
}
.menu-items .shop-container {
  padding: 70px 0 70px;
}
.menu-items .shop-container .shop-item {
  opacity: 1;
}

.show-menu-items {
  transform: translate(0);
}

.blur-backround {
  filter: blur(3px);
}

.banners_head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #191919;
}
@media (min-width: 384px) {
  .banners_head {
    height: 245px;
  }
}
@media (min-width: 784px) {
  .banners_head {
    height: 237px;
  }
}
.banners_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 724px;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}
@media (min-width: 384px) {
  .banners_item {
    height: 706px;
    margin-top: 50px;
  }
}
@media (min-width: 784px) {
  .banners_item {
    margin-top: 160px;
    flex-direction: row;
    width: 1110px;
    height: 560px;
    text-align: left;
  }
}
@media (min-width: 784px) {
  .banners_img {
    flex-grow: 0;
    height: 100%;
    max-width: 540px;
    object-fit: cover;
  }
}
.banners_img img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.banners_content {
  align-self: center;
  padding-left: 20px;
}
.banners_content span {
  opacity: 1;
}
.banners_title {
  padding: 20px 10px 20px 0;
  padding: 20px 0;
}
.banners_text {
  padding: 20px 20px 20px 0;
}
@media (min-width: 784px) {
  .banners .mark1-banner, .banners .zx7-banner {
    flex-direction: row-reverse;
  }
}

.outer-container {
  display: flex;
  justify-content: center;
}

.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 384px) {
  .checkout {
    width: 689px;
  }
}
@media (min-width: 784px) {
  .checkout {
    width: 1100px;
    flex-direction: row;
  }
}
.checkout_title {
  padding-left: 24px;
  color: #101010;
}
.checkout_main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.checkout_section {
  padding: 0 24px;
  margin: 24px 0;
}
.checkout_section-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 384px) {
  .checkout_section-form {
    grid-template-columns: 1fr 1fr;
  }
  .checkout_section-form .shipping_address {
    grid-column: 1/3;
  }
  .checkout_section-form .cash-checked {
    grid-column: 1/3;
  }
}
.checkout_input {
  display: flex;
  flex-direction: column;
}
.checkout_input input {
  background: inherit;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  width: 100%;
  padding: 18px 0 18px 24px;
}
.checkout_radio {
  display: flex;
  align-items: center;
}
.checkout .cash-checked {
  display: flex;
}
.checkout .cash-checked::before {
  content: url(/images/assets/shared/desktop/icon-cash-on-delivery.svg);
}

.checkout_sidebar {
  height: 380px;
  width: 350px;
  border-radius: 8px;
  padding: 24px;
  background-color: #FFFFFF;
}
.checkout_sidebar .summary {
  border-radius: 8px;
}
.checkout_sidebar .summary_head {
  margin-bottom: 30px;
}
.checkout_sidebar .summary_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout_sidebar .summary_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout_sidebar .summary_item img {
  width: 64px;
  height: 64px;
}
.checkout_sidebar .summary_input-group {
  align-self: center;
  clear: both;
  margin: 15px 0;
  position: relative;
  width: 100%;
}
.checkout_sidebar .summary_detail div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 10px;
}
.checkout_sidebar .summary_pay-btn {
  display: flex;
  justify-content: center;
}
.checkout_sidebar .summary_checkout-btn {
  text-align: center;
  margin-top: 30px;
  width: 248px;
  height: 48px;
  padding-top: 12px;
}

.checkout-whole-container {
  background-color: #f3f1f1;
}

.go-back {
  text-align: left;
  width: 100px;
}
@media (min-width: 384px) {
  .go-back {
    width: 689px;
  }
}
@media (min-width: 784px) {
  .go-back {
    width: 1100px;
  }
}

/*# sourceMappingURL=main.css.map */
