@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: #191919;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
}
.header-container .header-content {
  width: 1110px;
  border-bottom: #979797 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-container .header-content .logo {
  width: 143px;
  height: 25px;
}
.header-container .header-content .nav-bar .header-menu-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-content: space-between;
  gap: 30px;
}
.header-container .header-content .nav-bar .header-menu-list .header-links {
  text-align: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
}
.header-container .header-content .nav-bar .header-menu-list .header-links:hover {
  color: #D87D4A;
}
.header-container .header-content cart-logo {
  width: 23px;
  height: 20px;
}

.footer {
  background-color: #101010;
  display: flex;
  justify-content: center;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 365px;
  width: 1110px;
  background: #101010;
  color: #FFFFFF;
  padding: 75px 0 52px 0;
}
.footer .footer-container .footer-info-text {
  opacity: 0.5;
}
.footer .footer-container .copyright {
  opacity: 0.5;
}
.footer .footer-container .nav-bar-footer {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-container .nav-bar-footer .footer-menu-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-content: space-between;
  gap: 30px;
}
.footer .footer-container .nav-bar-footer .footer-menu-list .footer-links {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer-container .nav-bar-footer .footer-menu-list .footer-links:hover {
  color: #D87D4A;
}
.footer .footer-container .nav-social-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-container .nav-social-footer .social-logo {
  cursor: pointer;
  padding: 10px;
}
.footer .footer-container .nav-social-footer .social-logo:hover {
  color: #D87D4A;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

h2 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFFFFF;
  opacity: 0.5;
}

.sub-title {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.hero-container {
  display: flex;
  justify-content: center;
  background-color: #191919;
}
.hero-container .hero-block {
  height: 630px;
  width: 1110px;
  background: url("/images/assets/home/desktop/image-hero.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container .hero-block .hero-container-content {
  padding-top: 200px;
}
.hero-container .hero-block .hero-container-content .hero-title {
  margin: 25px 0;
}
.hero-container .hero-block .hero-container-content .hero-text {
  padding-bottom: 25px;
  color: #FFFFFF;
  opacity: 0.5;
}

.shop-section {
  display: flex;
  justify-content: center;
}
.shop-section .shop-container {
  width: 1100px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 150px 0;
  gap: 70px 30px;
}
.shop-section .shop-container .shop-item {
  position: relative;
  background-color: #F1F1F1;
  width: 350px;
  height: 203px;
  border-radius: 8px;
  padding: 116px 0px 30px 0px;
  text-align: center;
  cursor: pointer;
}
.shop-section .shop-container .shop-item .shop-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -38%);
}
.shop-section .shop-container .shop-item .shop-image img {
  max-width: 100%;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text {
  text-decoration: none;
  color: grey;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text:hover {
  color: #FBAF85;
}
.shop-section .shop-container .shop-item .shop-text .shop-btn-text::after {
  content: url(/images/assets/shared/desktop/icon-arrow-right.svg);
  padding: 10px;
  color: #101010;
}

.speaker-banner-container {
  display: flex;
  justify-content: center;
}
.speaker-banner-container .speaker-banner {
  width: 1110px;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  background: url(/images/assets/home/desktop/pattern-circles.svg), #D87D4A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.speaker-banner-container .speaker-banner .speaker {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.speaker-banner-container .speaker-banner .speaker .speaker-image {
  height: 490px;
  width: 410px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -38%);
}
.speaker-banner-container .speaker-banner .speaker-banner-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  padding-left: 100px;
}
.speaker-banner-container .speaker-banner .speaker-banner-text .speaker-banner-title {
  padding: 15px 0;
}
.speaker-banner-container .speaker-banner .speaker-banner-text .speaker-banner-description {
  color: #FFFFFF;
  padding: 15px 0;
}

.speaker-banner-zx7-container {
  display: flex;
  justify-content: center;
}
.speaker-banner-zx7-container .speaker-banner-zx7 {
  width: 1100px;
  background: url(/images/assets/home/desktop/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0;
  height: 320px;
  border-radius: 8px;
}
.speaker-banner-zx7-container .speaker-banner-zx7 .speaker-xz7-banner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 92px;
}

.yx1-earphone-banner-container {
  display: flex;
  justify-content: center;
}
.yx1-earphone-banner-container .yx1-earphone-banner {
  width: 1100px;
  display: flex;
  margin: 40px 0;
  height: 320px;
  border-radius: 8px;
  gap: 30px;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-img {
  flex: 1;
  background: url(/images/assets/home/desktop/image-earphones-yx1.jpg);
  background-size: cover;
  border-radius: 8px;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container {
  flex: 1;
  background: #F1F1F1;
  border-radius: 8px;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container .yx1-earphone-text {
  padding: 120px 70px 0;
}
.yx1-earphone-banner-container .yx1-earphone-banner .yx1-earphone-text-container .yx1-earphone-text h4 {
  margin-bottom: 20px;
}

.epiloge-container {
  display: flex;
  justify-content: center;
  margin: 200px 0;
}
.epiloge-container .epiloge {
  display: flex;
  width: 1100px;
  height: 588px;
  gap: 15px;
}
.epiloge-container .epiloge .epiloge-content {
  flex: 1;
  padding-top: 156px;
}
.epiloge-container .epiloge .epiloge-content .epiloge-title {
  padding-bottom: 30px;
}
.epiloge-container .epiloge .epiloge-content .epiloge-title span {
  color: #D87D4A;
}
.epiloge-container .epiloge .epiloge-img {
  flex: 1;
  background: url(/images/assets/shared/desktop/image-best-gear.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.orange-button {
  height: 48px;
  width: 160px;
  background-color: #D87D4A;
  color: #FAFAFA;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.orange-button:hover {
  background-color: #FBAF85;
}

.black-button {
  height: 48px;
  width: 160px;
  background-color: #101010;
  color: #FAFAFA;
  font-size: 13px;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.black-button:hover {
  opacity: 0.7;
}

.invisible-button {
  height: 48px;
  width: 160px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.invisible-button:hover {
  background-color: #101010;
  color: #FAFAFA;
}

/*# sourceMappingURL=main.css.map */
