$Primary-Orange: #D87D4A;
$Primary-Dark: #101010;
$Primary-Gray: #F1F1F1;
$Primary-White: #FAFAFA;

$Secondary-Orange: #FBAF85;
$Secondary-White: #FFFFFF;
$Secondary-black: #000000;
$background-black: #191919;